//Estilos Generales
* {
    padding:0px;
    margin: 0px;
    font-family: sans-serif, Helvetica, Arial;
}

body{
    background: url(../images/bg.png);
}


a{
    color: #01b1ea;
}

.registro {
    margin: 50px;
}
a:visited{
    color: #01b1ea;
}

a:hover{
    color:#555;
}

.alert-green{
    background: green ;
    color: white;
}

.alert-red {
    background: red;
    color: white;
}

table{
    text-align: center;
    width: 100%;
    border: 1px solid #ccc;
}

td{

    border-top: 1px solid #ccc;
    padding: 8px;
}

th{
    background: #c0d8b1;
    padding: 8px;
}

.thumb {
    width: 100px;
}

//-----------------------Container-----------------------------------------/
#container{
    width: 80%;
    margin: 0 auto;
    box-shadow: 0px 0px 10px grey;
    background: white;
}

//-----------------------Header--------------------------------------------/
#header{
    height: 145px;
    background: #f0f0f0;
}

#logo{
    padding: 20px;
    margin-left: 20px;
}
//----IMAGEN LOGO-----//
#logo img{
    float: left;
    height: 100px;
}

#logo a{
    float: left;
    font-size: 40px;
    letter-spacing: 4px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #01b1ea ;
    font-weight: bold;
    text-decoration: none;
    margin-top: 18px;
    margin-left: 25px;
    text-shadow: 0px 2px 1px #222222;
    transition: all 300ms;
}

#logo a:hover{
    text-shadow: 0px 2px 1px #222222, 0px 0px 4px #01b1ea;
}

//------------------------------------MENU------------------------------------------------//@at-root
#menu{
    clear: both;
    background: black;
    color: white;
    height: 55px;
    border-bottom: 4px solid #01b1ea;
}

#menu ul{
    list-style: none;
    margin: 0px auto;
    margin-left: 130px;
}

#menu ul li{
    line-height: 55px;
    float: left;
    border-right: 1px solid #363636;
}

#menu a{
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
    transition: all 300ms;
}

#menu a:first-child{
    border-left: 1px solid #363636;
}

#menu a:hover{
    background: #01b1ea;
}

//------------------------------------SIDEBAR----------------------------------------------//

#content{
    margin: 0px auto;
    background:white;
}
#sidebar{
    width: 22%;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    min-height: 650px;;
}

#sidebar .block_aside{
    display: block;
    float: left;
    width: 90%;
    margin: 5px auto;
    padding:10px;

}

#sidebar h3{
    display: block;
    color: #222;
    width: 100%;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom:15px;
    font-size: 16px;
    font-weight: bold;
    background: #e1e1e1;
    border-bottom: 2px solid  #01b1ea ;
}
#sidebar ul{
    margin-top: 10px;
    margin-bottom: 10px;
}

#sidebar ul li{
    list-style: square;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

//formularios
.form_container{
    width: 50%;
}

label, select, textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"]
 {
    display: block;
    width: 100%;
    margin-top:2px;
    margin-bottom: 2px;
}

select, textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"]
 {
    border: 1px solid #c9c9c9;
    box-shadow: 0px 0px 2px #ccc inset;
    background: white;
    padding: 2px;
    color: grey;
    transition: all 300ms;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    border: 1px solid #1579b5;
    color: black;
}

input[type='button'],
input[type='submit'],
button, .button{
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom:10px;
    border-radius: 2px;
    width: auto;
    padding: 5px;
    color: white;
    background: #2979cd;
    border: 1px solid #11608e;
    cursor: pointer;

}

.button{
    width: 75px;
    margin: auto;
    background: green; 
    color: white !important;
    text-decoration: none;
    margin-bottom: 5px;
}

.button-small{
    width:126px;
    text-align: center;
    margin-bottom: 20px;
}

label, 
input[type='button'],
input[type='submit'],
button{
    display: block;
    margin-top: 10px;
}

//------------------------------------CAJA PRINCIPAL---------------------------------------//
#central{
    width: 70%;
    float: right;
    border-left: 1px solid #ccc;
    box-shadow:-5px -1px 5px #ddd;
    background: white;
    padding: 25px;
    min-height: 620px;
}

#central h1{
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding:20px;
    padding-top: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

//-----------------------------------IMAGENENES PRODUCTOS----------------------------------//
.product{
    width: 30%;
    //border-right: 1px solid #ccc;
    float: left;
    margin-left: 10px ;
    margin-right: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.product a{
    color: black;
    text-decoration: none;
}

.product a:hover{
    color: #555;
}

.product h2{
    font-size: 18px;
    margin-bottom: 10px;
}
.product p{
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}
.product img {
    height: 140px;
    margin-bottom: 10px;
}
.img-carrito {
    height: 80px;
}

.enlace-carrito{
    text-decoration: none;
    color:black !important;
}

.detail-product{
    width: 100%;
}


.detail-product img{
    display: block;
    width: 30%;
    float: left;
    margin-left: 80px;
}

.detail-product .data{
    width: 50%;
    margin-top: 100px;
    float:right;

    
}

.detail-product .descripcion{
    margin-bottom: 20px;

}
.detail-product .precio{
    margin-bottom: 10px;
    font-size: 20px;
    color: #444;
}

.detail-product .button{
    width: 200px;
    text-align: center;
    float: left;
}

/*--TOTAL CARRITO--*/
.total-carrito{
    width: 350px;;
    float: right;
}

.total-carrito h3{
    display: block;
    float: left;
    margin-top: 6px;
}

.button-pedido {
    display: block;
    width: 150px;
    margin-right: 0px;
    text-align: center;
}

.estado-pedido{
    display: block;
    float: right;
}

.button-estado{
    margin: auto;
}

.button-borrar{
    display: block;
    float: left;
}

.button-updown {
    width: 10px;
}


/*-----FOOTER-----*/

#footer{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
    background: #222;
    clear: both;
    border-top: 4px solid #01b1ea;
}

